[submodule "execution-apis"]
	path = module_api/execution-apis
	url = https://github.com/ethereum/execution-apis
[submodule "consensus-specs"]
	path = module_api/concensus-specs
	url = https://github.com/ethereum/consensus-specs
[submodule "beacon-apis"]
	path = module_api/beacon-apis
	url = https://github.com/ethereum/beacon-apis
[submodule "perf_modules/predict-analyze"]
	path = module_perf/predict-analyze
	url = https://github.com/alexchenzl/predict-analyze
[submodule "perf_modules/trace-helper"]
	path = module_perf/trace-helper
	url = https://github.com/alexchenzl/trace-helper
[submodule "perf_modules/predict-al"]
	path = module_perf/predict-al
	url = https://github.com/alexchenzl/predict-al
[submodule "portal-network-specs"]
	path = module_api/portal-net-specs
	url = https://github.com/ethereum/portal-network-specs
[submodule "perf_modules/bls"]
	path = module_perf/bls
	url = https://github.com/herumi/bls
[submodule "client_modules/teku"]
	path = module_clients/teku
	url = https://github.com/ConsenSys/teku
[submodule "lib/builder-specs"]
	path = lib/builder-specs
	url = https://github.com/ethereum/builder-specs
[submodule "module_api/builder-spec"]
	path = module_api/builder-spec
	url = https://github.com/ethereum/builder-specs
[submodule "module_api/execution-specs"]
	path = module_api/execution-specs
	url = https://github.com/ethereum/execution-specs
