[submodule "execution-apis"]
	path = execution-apis
	url = https://github.com/ethereum/execution-apis
[submodule "consensus-specs"]
	path = consensus-specs
	url = https://github.com/ethereum/consensus-specs
[submodule "beacon-apis"]
	path = beacon-apis
	url = https://github.com/ethereum/beacon-apis
